function ComputerController.init 1
push constant 3
pop static 1
push static 1
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 10
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
pop pointer 1
push that 0
pop local 0
push constant 0
push local 0
add
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push constant 10
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
pop pointer 1
push that 0
pop local 0
push constant 0
push local 0
add
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push constant 10
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
pop pointer 1
push that 0
pop local 0
push constant 0
push local 0
add
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 10
call String.new 1
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 10
call String.new 1
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
pop static 2
push constant 0
pop static 3
push constant 0
not
pop static 4
push constant 0
pop static 5
push constant 0
pop static 6
push constant 0
pop static 7
push constant 0
pop static 8
push constant 0
pop static 9
push constant 0
return
function ComputerController.generateShips 4
push argument 1
call Random.init 1
pop temp 0
call Random.getPseudoRandom 0
pop local 2
push local 2
push static 1
call Math.divide 2
pop local 3
push local 2
push static 1
push local 3
call Math.multiply 2
sub
pop local 1
push local 1
push argument 0
call ComputerController.setGridFromString 2
pop temp 0
push constant 0
return
function ComputerController.setGridFromString 5
push argument 0
push static 0
add
pop pointer 1
push that 0
pop local 1
push argument 1
call Player.getGrid 1
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 3
push constant 10
lt
not
if-goto WHILE_END0
push local 3
push local 1
add
pop pointer 1
push that 0
pop local 0
push constant 0
pop local 4
label WHILE_EXP1
push local 4
push constant 10
lt
not
if-goto WHILE_END1
push local 0
push local 4
call String.charAt 2
push constant 49
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push local 4
push local 3
push constant 0
not
call Grid.toggleFill 4
pop temp 0
label IF_FALSE0
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP1
label WHILE_END1
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push local 2
call Grid.validShips 1
pop temp 0
push constant 0
return
function ComputerController.shoot 0
push static 5
push constant 0
eq
push static 5
push constant 3
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 4
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call ComputerController.moveNext 0
pop temp 0
goto IF_END1
label IF_FALSE1
push static 4
not
pop static 4
label IF_END1
push argument 0
push static 8
push static 9
call Player.shootAt 3
pop static 5
push static 5
push constant 0
eq
not
return
label IF_FALSE0
push static 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push static 7
push constant 1
add
pop static 7
goto IF_END2
label IF_FALSE2
push static 6
push constant 1
add
pop static 6
label IF_END2
push argument 0
push static 6
push static 7
call Player.shootAt 3
pop static 5
push static 5
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop static 3
push constant 0
not
return
label IF_FALSE3
push static 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop static 3
push static 8
pop static 6
push static 9
pop static 7
call ComputerController.moveNext 0
pop temp 0
call ComputerController.moveNext 0
pop temp 0
push static 5
return
label IF_FALSE4
push static 2
not
pop static 2
push static 5
return
function ComputerController.moveNext 0
push static 8
push constant 1
add
pop static 8
push static 8
push constant 10
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop static 8
push static 9
push constant 1
add
pop static 9
label IF_FALSE0
push static 9
push constant 10
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop static 9
label IF_FALSE1
push static 8
pop static 6
push static 9
pop static 7
push constant 0
return
